.container {
  padding: 100px 0 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  row-gap: 16px;
}

.totalPriceContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 40px;
  justify-content: end;
  align-items: center;
}

.listScrolle {
  display: grid;
  padding-right: 8px;
  row-gap: 16px;
  max-height: calc(100vh - 40px - 64px - 100px - 88px - 80px - 16px - 80px - 34px);
  overflow-y: scroll;
  scrollbar-width: thin;          /* "auto" или "thin"  */
  scrollbar-color: #8585AD #1C1C21;
}

.listScrolle::-webkit-scrollbar {
  width: 8px;
}

.listScrolle::-webkit-scrollbar-track {
  background: #1C1C21; 
}
 
.listScrolle::-webkit-scrollbar-thumb {
  background: #8585AD; 
}
