.tabContainer {
  height: 56px;
  width: 100%;
  display: flex;
  background-color: #1c1c21;
}

.list {
  padding: 0 16px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 32px;
}

.container {
  overflow-y: scroll;
  max-height: calc(100vh - 115px - 40px - 88px);
  scroll-behavior: smooth;
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: #8585ad #1c1c21;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #1c1c21;
}

.container::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.title {
  padding-top: 40px;
  margin-top: 0;
}
